.dashboard {
  display: flex;
  flex-flow: row wrap;
  column-gap: 12px;
  row-gap: 12px;
  max-width: 888px;
  margin: 32px 22px 0;

  .link-container {
    padding: 12px 12px 12px 18px;
    margin-top: 16px;

    display: flex;
    align-items: center;

    border: 1px solid var(--very-dark-blue);
    border-radius: 12px;

    svg {
      margin-left: auto;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.item-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.dashboard-item {
  //border: 1px solid #060022;
  //border-radius: 12px;
  width: 100%;
  position: relative;
  padding: 16px 15px;

  .dashboard-content {
    .title {
      display: flex;
      align-items: center;

      font-style: normal;
      font-weight: 500;
      //font-size: 14px;
      line-height: 140%;
      letter-spacing: 0.05em;
      color: #0c1821;
      margin-bottom: 4px;

      .icon {
        width: 6px;
        height: 10px;

        margin-left: auto;
      }

      .notification_count {
        width: 24px;
        height: 24px;
        margin-left: 6px;

        display: flex;
        align-items: center;
        justify-content: center;

        background: #d5f790;
        border-radius: 50%;
      }
    }

    .content {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0.05em;
      color: #0c1821;
    }
  }
}

.dashboard-item.main-quests,
.dashboard-item.additional-quests,
.dashboard-item.rewards {
  .dashboard-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-style: normal;
      font-weight: 400;
      //font-size: 12px;
      line-height: 120%;
      color: #999999;
      margin-bottom: 20px;

      @media (min-width: 768px) {
        color: #0c1821;
        font-weight: 500;
      }
    }

    .content {
      display: flex;
      flex-direction: column;

      color: #0c1821;
      font-weight: 600;

      .quest_count {
        font-size: 18px;

        line-height: 140%;
      }
    }
  }
}

.dashboard-item.rewards {
  .dashboard-content {
    .content {
      display: flex;
      gap: 9px;

      .reward-content {
        .label {
          color: #999999;
          font-weight: 500;
          font-size: 12px;
        }
      }
    }
  }
}

.arrow-icon {
  --icon-width: 6px;
  --icon-height: 11px;
  position: absolute;
  right: 7px;
  top: 18px;
}
