<app-full-screen-content-wrapper>
  <ng-template #header>
    <app-header title="Dashboard"></app-header>
  </ng-template>
  <ng-template #content>
    <ng-container [ngTemplateOutlet]="contentTemplate"></ng-container>
  </ng-template>
</app-full-screen-content-wrapper>

<ng-template #contentTemplate>
  <div class="dashboard">
    <div class="item-row">
      <div
        class="dashboard-item main-quests card small"
        (click)="navigate('/quests')">
        <div class="dashboard-content card-content">
          <div class="title">
            Quests
            <svg-icon *ngIf="questsLength" name="arrow" class="icon"></svg-icon>
          </div>
          <div class="content">
            <span class="quest_count">{{ questsLength }}</span> active quests
          </div>
        </div>
      </div>
      <div
        class="dashboard-item rewards card small"
        (click)="navigate('/dashboard/rewards')">
        <div class="dashboard-content card-content">
          <div class="title">
            Rewards
            <svg-icon name="arrow" class="icon"></svg-icon>
          </div>
          <div class="content">
            <div class="points">
              <div class="reward-content">
                <div class="label">Earned:</div>
                <div class="reward-value">
                  <div>{{ ui.user?.balance || 0 }} Points</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
