:host {
  ::ng-deep {
    .form {
      padding: 0 22px 32px 22px !important;

      .form_content {
        margin-top: 16px;
      }
    }
  }

  .title {
    font-size: 30px;
  }
}

.input {
  margin-bottom: 12px;
}

.button {
  margin-top: 24px;
}

@media (min-width: 768px) {
  .email-confirmation {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__form {
      max-width: 444px;
      width: 100%;
      margin: auto;
    }

    &__logo {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .header {
      grid-template-columns: 1fr;
      padding-left: 22px;

      .title {
        margin: 0 auto;
      }
    }
  }
}
