<div *ngIf="form && formGroup" class="form">
  <div class="header">
    <div class="back" *ngIf="back" (click)="goBack()">
      <svg width="29" height="16" viewBox="0 0 29 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.292892 7.29289C-0.0976315 7.68342 -0.0976315 8.31658 0.292892 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292892 7.29289ZM29 7L1 7V9L29 9V7Z" fill="#060022"/>
      </svg>
    </div>
    <div class="title">{{form.title}}</div>
    <div class="space"  *ngIf="back"></div>
  </div>
  <div *ngIf="form.description" class="description">{{form.description}}</div>
  <div class="form_content">
    <ng-container *ngFor="let input of form.inputs">
      <ng-container [ngSwitch]="input.type">
        <div *ngSwitchCase="'string'">
          <p> {{ input.title }} </p>
        </div>
        <div *ngSwitchCase="'template'" style="display: flex">
          <ng-content></ng-content>
        </div>
        <div *ngSwitchCase="'text'" class="text">
          <app-input [readonly]="true" [title]="input.title" [form]="formGroup" [key]="input.key" [error]="input.error" [type]="input.inputType"></app-input>
        </div>
        <div *ngSwitchCase="'input'" class="input">
          <app-input [title]="input.title" [form]="formGroup" [key]="input.key" [error]="input.error" [type]="input.inputType"></app-input>
        </div>
        <div *ngSwitchCase="'button'">
          <button class="btn {{ input.class }}" (click)="button(input)">
            {{ input.title }}
            <span *ngIf="!!input.icon" class="icon {{ input.icon }}"></span>
          </button>
        </div>
        <div *ngSwitchCase="'checkbox'">
          <app-checkbox [form]="formGroup" [key]="input.key" [error]="input.error" [title]="input.title"></app-checkbox>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div *ngIf="form.footer" class="footer" [innerHTML]="form.footer | safeHtml"></div>
</div>
