<app-full-screen-content-wrapper
  [isRefreshable]="true"
  (refresh)="getRewards($event)">
  <ng-template #header>
    <app-header title="Rewards"></app-header>
  </ng-template>
  <ng-template #content>
    <ng-container [ngTemplateOutlet]="contentTemplate"></ng-container>
  </ng-template>
</app-full-screen-content-wrapper>

<ng-template #contentTemplate>
  <app-header
    title="Your reward multiplier x 1.0"
    back="/dashboard"></app-header>
  <div class="rewards">
    <div class="card small">
      <div class="card-content">
        <div class="card-title">Balance of AYDO Points</div>
        <span class="balance">Your balance</span>
        <span class="amount">{{ ui.user?.balance }} Points</span>
      </div>
    </div>

    <p>History of transfers</p>

    <div *ngFor="let reward of ui.rewards" class="card long">
      <div class="card-content">
        <div class="card-title">
          <span class="transfer-label">{{ reward.title }}</span
          >: + {{ reward.value }} {{ reward.currency }}
        </div>
      </div>
    </div>
  </div>
</ng-template>
