<div class="header">
  <div class="menu-button" (click)="showHideMenu()">
    <svg width="24" height="9" viewBox="0 0 24 9" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="24" height="2" rx="1" fill="#060022"/>
      <rect y="7" width="16" height="2" rx="1" fill="#060022"/>
    </svg>
  </div>
  <div class="title">
    Devices
  </div>
  <div class="device-add" (click)="deviceAdd()">
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="7" width="2" height="16" rx="1" fill="#060022"/>
      <rect y="9" width="2" height="16" rx="1" transform="rotate(-90 0 9)" fill="#060022"/>
    </svg>
  </div>
</div>

<div class="menu-container" *ngIf="menuVisible">
  <div class="menu">
    <div class="menu-item" *ngFor="let item of menu">
      <div class="menu-item-icon">
        <svg-icon class="icon" [name]="item.icon"></svg-icon>
      </div>
      <div class="menu-item-title">
        <div>{{item.title}}</div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="ui.devices && ui.devices.items" class="devices">
  <div *ngFor="let device of ui.devices.items" class="device">
    <div class="device-header">
      <div class="device-icon">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="12" cy="12" r="12" fill="url(#paint0_radial_679_1536)"/>
          <circle cx="12" cy="12" r="6" fill="#D5F790"/>
          <defs>
            <radialGradient id="paint0_radial_679_1536" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                            gradientTransform="translate(12 12) rotate(90) scale(12)">
              <stop stop-color="#D5F790"/>
              <stop offset="1" stop-color="#D5F790" stop-opacity="0"/>
            </radialGradient>
          </defs>
        </svg>
      </div>
      <div class="device-title-container">
        <div class="device-title">
          {{device.name}}
        </div>
      </div>
    </div>

    <div class="device-capabilities">
      <div *ngFor="let capability of device.capabilities" class="device-capability">
        <div class="device-capability-title">
          {{capability.displayName}}
        </div>
        <div class="device-capability-value" *ngIf="capability.value">
          {{capability.value}}{{capability.unit}}
        </div>
      </div>
    </div>
  </div>
</div>