<div class="form">
  <div class="title">Sign up</div>
  <div class="input">
    <app-input title="First name"></app-input>
  </div>
  <div class="input">
    <app-input title="Last name"></app-input>
  </div>
  <div class="input">
    <app-input title="E-mail"></app-input>
  </div>
  <div class="input">
    <app-input title="Password"></app-input>
  </div>
  <div class="button">
    <app-button [title]="'Sign up'" color="white" backgroundColor="#060022"></app-button>
  </div>
</div>

<app-welcome-providers title="or sign up with"></app-welcome-providers>

<app-welcome-navigate [signIn]="true" [demo]="true" [forgot]="true"></app-welcome-navigate>
