
.dashboard {
  display: flex;
  flex-flow: row wrap;
  column-gap: 12px;
  row-gap: 12px;
  margin: 0 22px;
}

.dashboard-item {
  border: 1px solid #060022;
  border-radius: 12px;
  width: 100%;
  position: relative;

  .dashboard-content {
    margin: 16px 15px;

    .title {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0.05em;
      color: #0C1821;
      margin-bottom: 4px;
    }

    .content {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0.05em;
      color: #0C1821;
    }
  }
}

.dashboard-item.rewards {
  .dashboard-content {
    margin-left: 12px;
    margin-right: 12px;

    .title {
      margin-bottom: 50px;
    }

    .content {
      display: flex;
      align-items: flex-end;
      gap: 9px;

      .reward {
        border: 1px solid #060022;
        border-radius: 12px;
        width: calc(50%);

        .reward-content {
          margin: 8px 12px;
        }
      }
    }
  }
}

.dashboard-item.main-quests, .dashboard-item.additional-quests {
  width: calc(50% - 8px);

  .dashboard-content {
    .title {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 120%;
      color: #999999;
      margin-bottom: 20px;
    }
  }
}

.close-icon {
  --icon-width: 14px;
  --icon-height: 14px;
  position: absolute;
  right: 10px;
  top: 10px
}

.arrow-icon {
  --icon-width: 6px;
  --icon-height: 11px;
  position: absolute;
  right: 7px;
  top: 18px
}

