<app-header title="Dashboard"></app-header>

<div class="dashboard">
  <div class="dashboard-item notification card long">
    <svg-icon *ngIf="notifications.length" name="close" class="close-icon" (click)="closeNotification()"></svg-icon>
    <div class="dashboard-content card-content">
      <div class="title">{{notifications.length ? 'New notification' : 'No notifications'}}</div>
      <div *ngIf="notifications.length" class="content">{{notifications[0].title}}</div>
    </div>
  </div>

  <div class="dashboard-item rewards card big" (click)="showRewards()">
    <div class="dashboard-content card-content" *ngIf="reward">
      <div class="title">Rewards <span *ngIf="reward" class="icon icon-right-dark"></span></div>
      <div class="content">
        <div class="reward points">
          <div class="reward-content">
            <div>Earned:</div>
            <div class="reward-value">
              <div>{{reward.points}} Points</div>
            </div>
          </div>
        </div>

        <div class="reward tokens">
          <div class="reward-content">
            <div>AYDO tokens:</div>
            <div class="reward-value">
              <div>{{reward.tokens}}$</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="dashboard-item main-quests card small">
    <div class="dashboard-content card-content">
      <div class="title">Main quests <span *ngIf="mainQuests.length" class="icon icon-right-dark"></span></div>
      <div class="content">{{mainQuests.length}} active quests</div>
    </div>
  </div>

  <div class="dashboard-item additional-quests card small">
    <div class="dashboard-content card-content">
      <div class="title">Additional quests <span *ngIf="additionalQuests.length" class="icon icon-right-dark"></span></div>
      <div class="content">{{additionalQuests.length}} active quests</div>
    </div>
  </div>

  <div class="dashboard-item ranking card long" *ngIf="ranking">
    <div class="dashboard-content card-content">
      <div class="title">Ranking</div>
      <div class="content">{{ranking.title}}</div>
    </div>
  </div>

</div>
