<app-header title="Dashboard"></app-header>

<div class="dashboard">
  <div class="dashboard-item skew notification">
    <div class="dashboard-content">
      <div class="title">New notification</div>
      <div class="content">New project available</div>
    </div>
  </div>

    <div class="dashboard-item skew rewards">
      <div class="dashboard-content">
        <div class="title">Rewards</div>
        <div class="content"></div>
      </div>
    </div>

    <div class="dashboard-item skew main-quests">
      <div class="dashboard-content">
        <div class="title">Main quests</div>
        <div class="content"></div>
      </div>
    </div>

    <div class="dashboard-item skew additional-quests">
      <div class="dashboard-content">
        <div class="title">Additional quests</div>
        <div class="content"></div>
      </div>
    </div>

    <div class="dashboard-item skew ranking">
      <div class="dashboard-content">
        <div class="title">Ranking</div>
        <div class="content"></div>
      </div>
    </div>

</div>