:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: var(--light-grayish-green);
  ::ng-deep {
    .big {
      margin-bottom: 24px;
      clip-path: polygon(100% 0, 100% 85%, 90% 100%, 0 100%, 0 0);
      &:after {
        clip-path: polygon(100% 0, 100% 85%, 90% 100%, 0 100%, 0 0);
      }
    }
  }

  .project {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 20px;
    margin-top: 30px;
  }

  .project-info {
    display: flex;
    column-gap: 12px;
  }

  .card-content {
    padding: 16px 19px 16px 16px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    .project-content {
      display: flex;
      flex-flow: row wrap;
    }
  }
  .card-header {
    width: 100%;

    display: flex;
    align-items: center;

    --icon-width: 9px;
    --icon-height: 18px;

    .icon {
      margin-left: auto;
    }
  }

  .card-title {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 140%;
    font-weight: 600;
  }

  .card-status {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 4px;
    margin-left: 8px;

    color: #999999;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;

    background: #eef1e7;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .card-desc {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: #999999;
    margin-top: 4px;
  }

  .type-data-info {
    font-size: 12px;
    line-height: 120%;
    color: #999999;
  }

  .addition-info {
    margin-bottom: 0;
    text-align: center;
    font-size: 14px;
    line-height: 140%;
    color: #0c1821;
  }

  .tokens {
    margin: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 140%;
    color: #060022;
  }

  .wallet-info {
    padding: 16px 12px;

    display: flex;
    flex-direction: column;

    border: 1px solid #060022;
    border-radius: 8px;

    &__label {
      margin-top: 10px;

      font-size: 11px;
      line-height: 140%;
      color: #999999;
    }

    &__value {
      font-size: 17px;
      line-height: 135%;
      color: #0c1821;
    }
  }

  ::ng-deep {
    .btn {
      .svg-icon {
        height: 12px;
      }
    }
  }
}
