<app-modal-wrapper
  *ngIf="ui.gateway && isModal"
  [title]="ui.gateway ? ui.gateway.identifier : ''">
  <div class="dropdown-wrapper">
    <app-form
      [form]="form"
      [formGroup]="formGroup"
      [showTitle]="false"
      back="devices"
      (onClickButton)="button($event)"></app-form>
  </div>
</app-modal-wrapper>
<app-full-screen-content-wrapper *ngIf="ui.gateway && !isModal">
  <ng-template #header>
    <app-header title="Devices"></app-header>
  </ng-template>
  <ng-template #content>
    <app-form
      [form]="form"
      [formGroup]="formGroup"
      back="devices"
      (onClickButton)="button($event)"></app-form>
  </ng-template>
</app-full-screen-content-wrapper>
