<app-full-screen-content-wrapper>
  <ng-template #header>
    <app-header [title]="title"></app-header>
  </ng-template>
  <ng-template #content>
    <ng-container [ngTemplateOutlet]="contentTemplate"></ng-container>
  </ng-template>
</app-full-screen-content-wrapper>

<ng-template #contentTemplate>
  <div class="rewards">
    <ng-container *ngIf="quests">
      <div class="card long" *ngFor="let quest of quests">
        <div class="card-content">
          <div class="card-header">
            <div class="card-title">
              {{ quest.name }}
            </div>
            <div class="card-status">
              {{ quest.completed ? 'Completed' : 'Incomplete' }}
            </div>
          </div>
          <div class="card-description">
            {{ quest?.description ?? '' }}
          </div>
          <div class="chips">
            <div class="chips_item">
              <span class="operation">Reward</span>
              <span class="arrival"
                >{{ quest.reward_value }} {{ quest.currency }}</span
              >
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-template>
