:host {
  display: flex;
  justify-content: center;

  height: 100%;
}

ion-app {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
}

.main {
  width: 100%;
  max-width: unset;
  min-height: fit-content;

  background: var(--light-grayish-green);

  ion-app {
    max-width: unset;
  }
}

.test {
  display: grid;
  grid-template-columns: 280px 1fr;
  min-height: 100vh;
  .router {
    position: relative;
  }
}
