:host {
  display: flex;
  justify-content: center;

  height: 100%;
}

.main {
  width: 100%;
  max-width: 375px;

  background: var(--light-grayish-green);
}

.error-container {
  position: fixed;
  z-index: 10000;
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.error-content {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 24px;
  border-radius: 2px;
  width: calc(100% - 41px);
}

.error-content.error {
  background-color: #ED828F;
}

.error-content.info {
  background-color: #B7D774;
}

.error-text {
  margin: auto;
  padding: 35px 40px;
}

.error-icon {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 22px;
}

.error-close {
  display: flex;
  justify-content: end;
}
.error-container {
  position: fixed;
  z-index: 10000;
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.error-content {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 24px;
  border-radius: 2px;
  width: calc(100% - 41px);
}

.error-content.error {
  background-color: #ED828F;
}

.error-content.info {
  background-color: #B7D774;
}

.error-text {
  margin: auto;
  padding: 35px 40px;
}

.error-icon {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 22px;
}

.error-close {
  display: flex;
  justify-content: end;
}
