:host {
  display: flex;
  justify-content: center;

  height: 100%;
}

ion-app {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
}

.main {
  width: 100%;
  max-width: 375px;

  background: var(--light-grayish-green);

  &.no-padding {
    max-width: unset;

    ion-app {
      max-width: unset;
    }

    ::ng-deep {
      .full-page__inner {
        max-width: unset;
      }
    }
  }
}
