<div class="main">
  <ion-app>
    <!-- unauthorized -->
    <ng-container *ngIf="!ui.user || ui.clientWidth < 768">
      <ion-router-outlet
        *ngIf="
          ui.appReady || router.url.includes('privacy-policy')
        "></ion-router-outlet>
    </ng-container>

    <!-- authorized -->
    <ng-container *ngIf="ui.user && ui.clientWidth >= 768">
      <div class="test">
        <app-desktop-sidebar></app-desktop-sidebar>
        <div class="router">
          <ion-router-outlet
            *ngIf="
              ui.appReady || router.url.includes('privacy-policy')
            "></ion-router-outlet>
        </div>
      </div>
    </ng-container>

    <div *ngIf="loading.loading$ | async" class="loader-container">
      <span class="fence-loader"></span>
    </div>
  </ion-app>
</div>
<svg-definitions style="display: block; width: 0; height: 0"></svg-definitions>
<app-dialog-container></app-dialog-container>
<app-error></app-error>
<app-notification></app-notification>
