<div class="card big" [appRipple]="true" (click)="edit.emit(device)">
  <div class="card-content">
    <div class="card-header">
      <svg-icon
        width="24"
        height="24"
        [name]="device.isOnline ? 'device-active' : 'device-inactive'"
        class="status-icon"></svg-icon>
      <div class="title-container">
        <div class="title-container__title">
          {{ device.name }}
          <div class="title-container-desciption">
            {{ deviceDesciption(device) }}
          </div>
          <div *ngIf="device.zoneId" class="title-container__zone">
            <div class="title-container__zone-value">
              {{ zoneName(device) }}
            </div>
          </div>
        </div>
        <svg-icon
          *ngIf="!device.setupRequired"
          name="arrow"
          class="icon"></svg-icon>
      </div>
    </div>
    <div
      *ngIf="deviceCapabilitiesExists(device) && !device.setupRequired"
      class="capabilities">
      <ng-container *ngFor="let capability of device.capabilities">
        <div
          class="capabilities__capability"
          *ngIf="capabilityExists(capability)">
          <div class="capabilities__capability-title">
            {{ capability.displayName }}
          </div>
          <div class="capabilities__capability-value">
            {{ capability.value ?? '-' }}{{ capability.unit ?? '' }}
          </div>
        </div>
      </ng-container>
    </div>
    <div *ngIf="device.setupRequired" class="setup-btn">
      <button (click)="edit.emit(device)" class="btn green-btn">
        Set up now
        <svg-icon
          [name]="'arrow'"
          class="icon"
          width="12px"
          height="12px"></svg-icon>
      </button>
    </div>
  </div>
</div>
