<app-header title="Feedback"></app-header>
<ion-content>
<div class="about">
    <p>We value your feedback!</p>
    <p>
        Please submit any suggestions, issues, or bugs you encountered through our Discord channel for a rapid response, or use the feedback form below.
    </p>

    <button class="btn"
        (click)="goToLink('https://discord.com/channels/1196852834881253477/1310611376145829908')">
        Discord Chat
    </button>

    <button class="btn" (click)="goToLink('https://docs.google.com/forms/d/1OGmetJHUVXNwdwNACz6k550ZgIOL7WShQEb_Z_XNWk8/edit')">
        Feedback Form
    </button>
</div>
</ion-content>
