<app-full-screen-content-wrapper>
  <ng-template #header>
    <app-header title="Devices"></app-header>
  </ng-template>
  <ng-template #content>
    <app-form
      [form]="form"
      [formGroup]="formGroup"
      back="devices"
      (onClickButton)="button($event)">
      <ng-template #skeleton>
        <ion-skeleton-text animated class="btn-loading"></ion-skeleton-text>
        <ion-skeleton-text animated class="btn-loading"></ion-skeleton-text>
        <ion-skeleton-text animated class="btn-loading"></ion-skeleton-text>
        <ion-skeleton-text animated class="btn-loading"></ion-skeleton-text>
      </ng-template>
    </app-form>
  </ng-template>
</app-full-screen-content-wrapper>
