<div class="separator-container">
  <div class="separator-border"></div>
  <div class="separator-text">or sign up with</div>
  <div class="separator-border"></div>
</div>

<div class="sign-up-buttons">
  <app-button
    [icon]="'apple'"
    [arrow]="false"
    [ripple]="true"
    width="60px"
    height="60px"
    (click)="signInWithApple()"></app-button>
  <app-button
    [icon]="'google'"
    [arrow]="false"
    [ripple]="true"
    width="60px"
    height="60px"
    (click)="googleAuth()"></app-button>
  <app-button
    [icon]="'metamask'"
    [arrow]="false"
    [ripple]="true"
    width="60px"
    height="60px"
    (click)="handleAuth()"></app-button>
</div>
