.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 56px;
}

.label-text {
  position: absolute;
  left: 16px;
  top: 19px;

  font-size: 16px;
  color: var(--very-dark-blue);

  transition: all .2s ease-out;
  user-select: none;
  cursor: pointer;
}

input {
  width: 100%;
  height: 54px;
  padding: 16px;

  color: var(--very-dark-blue);

  background: transparent;
  border-radius: 8px;
  border: 1px solid var(--very-dark-blue);
  outline: 0;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;

  &.has-label {
    padding-top: 26px;
  }

  &:focus:not(:read-only) {
    background: var(--milk);
    border: 1px solid var(--very-dark-blue);

    box-shadow: 0 0 6px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 6px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 6px 1px rgba(0,0,0,0.2);
  }

  &.has-error {
    // some error styles
  }

  &:focus, &.has-value {
    & + .label-text {
      top: 8px;
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      transition: all .2s ease-out;
    }
  }

  &:disabled {
    border-color: var(--very-dark-grayish-blue);
  }

  &:disabled + .label-text  {
    color: var(--very-dark-grayish-blue);
  }
}
