.input {
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
}

.title-container {
  display: flex;
  width: calc(100% - 32px);

  .title {
    margin: auto 0 auto 16px;
  }
}

//.arrow-container {
//  display: flex;
//
//  .arrow {
//    margin: auto 0;
//  }
//}