<app-header title="Devices" add="add-device"></app-header>

<div *ngIf="ui.devices && ui.devices.items" class="devices">
  <ng-container *ngFor="let device of ui.devices.items">
    <div *ngIf="deviceCapabilitiesExists(device)" class="device">
      <div class="device-header">
        <div class="device-icon">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="12" cy="12" r="12" fill="url(#paint0_radial_679_1536)"/>
            <circle cx="12" cy="12" r="6" fill="#D5F790"/>
            <defs>
              <radialGradient id="paint0_radial_679_1536" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                              gradientTransform="translate(12 12) rotate(90) scale(12)">
                <stop stop-color="#D5F790"/>
                <stop offset="1" stop-color="#D5F790" stop-opacity="0"/>
              </radialGradient>
            </defs>
          </svg>
        </div>
        <div class="device-title-container">
          <div class="device-title">
            {{device.name}}
          </div>
        </div>
      </div>

      <div class="device-capabilities">
        <ng-container *ngFor="let capability of device.capabilities">
          <div *ngIf="capabilityExists(capability)" class="device-capability">
            <div class="device-capability-title">
              {{capability.displayName}}
            </div>
            <div class="device-capability-value" *ngIf="capability.value">
              {{capability.value}}{{capability.unit}}
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>