<app-full-screen-content-wrapper
  [isRefreshable]="true"
  (refresh)="getDataStreams()">
  <ng-template #header>
    <app-header title="Projects"></app-header>
  </ng-template>
  <ng-template #content>
    <ng-container [ngTemplateOutlet]="contentTemplate"></ng-container>
  </ng-template>
</app-full-screen-content-wrapper>

<ng-template #contentTemplate>
  <div
    class="streams grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-4">
    <ng-container *ngIf="streams$ | async as streams">
      <div
        class="card long"
        *ngFor="let stream of streams; let i = index"
        (click)="openProject(stream)">
        <div class="card-content">
          <div class="logo-content">
            <svg
              *ngIf="!stream.logo"
              width="40"
              height="40"
              viewBox="0 0 40 40"
              fill="none">
              <circle
                cx="20"
                cy="20"
                r="19.7"
                fill="#EEF1E7"
                stroke="black"
                stroke-width="0.6" />
            </svg>
            <img
              *ngIf="stream.logo"
              class="logo-image"
              src="{{ stream.logo }}" />
          </div>
          <div class="project-content">
            <div class="card-header">
              <div class="card-title">
                <span class="title-text">{{ stream.name || '' }}</span>
                <span class="card-status">
                  {{ stream.status === 1 ? 'Active' : 'Inactive' }}
                </span>
              </div>
              <svg-icon name="arrow" class="icon"></svg-icon>
            </div>
            <div class="card-desc">
              {{ stream.description || '' }}
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-template>
