<div
  (click)="pickImageFromGallery()"
  class="avatar-container"
  [style.pointer-events]="readonly ? 'none' : 'auto'">
  <svg-icon height="42" width="27" *ngIf="!previewUrl" name="aydo-avatar" />
  <div class="avatar-preview" *ngIf="previewUrl">
    <ion-img [src]="previewUrl" alt="Avatar Preview" class="avatar-image" />
    <button
      *ngIf="!readonly"
      (click)="removeImage($event)"
      class="remove-button">
      <svg-icon name="close" height="9" width="9" />
    </button>
  </div>
</div>
