<app-modal-wrapper *ngIf="isModal" title="Zone">
  <app-form
    [form]="form"
    [formGroup]="formGroup"
    [showTitle]="false"
    [showBack]="false"
    back="streams"
    (onClickButton)="button($event)"></app-form>
</app-modal-wrapper>
<app-full-screen-content-wrapper *ngIf="!isModal">
  <ng-template #header>
    <app-header title="Zone"></app-header>
  </ng-template>
  <ng-template #content>
    <app-form
      [form]="form"
      [formGroup]="formGroup"
      back="streams"
      (onClickButton)="button($event)"></app-form>
  </ng-template>
</app-full-screen-content-wrapper>
