/*
<div class="card">
  <div class="card-content">
      content
  </div>
</div>
 */

.card {
  position: relative;
  padding: 8px;

  background-color: var(--very-dark-blue);
  border-radius: 15px;

  clip-path: polygon(100% 0, 100% 90%, 90% 100%, 0 100%, 0 0);

  &.small {
    clip-path: polygon(100% 0, 100% 70%, 90% 100%, 0 100%, 0 0);
    &:after {
      clip-path: polygon(100% 0, 100% 70.3%, 90.3% 100%, 0 100%, 0 0);
    }
  }

  &.very-small {
    border-radius: 8px;
    clip-path: polygon(100% 0, 100% 55%, 55% 100%, 0 100%, 0 0);
    &:after {
      border-radius: 8px;
      clip-path: polygon(100% 0, 100% 55%, 55% 100%, 0 100%, 0 0);
    }
  }

  &.big {
    clip-path: polygon(100% 0, 100% 70%, 95% 100%, 0 100%, 0 0);
    &:after {
      clip-path: polygon(100% 0, 100% 70%, 95% 100%, 0 100%, 0 0);
    }
  }

  &.long {
    clip-path: polygon(100% 0, 100% 70%, 95% 100%, 0 100%, 0 0);
    &:after {
      clip-path: polygon(100% 0, 100% 70.3%, 95.3% 100%, 0 100%, 0 0);
    }
  }
}

.card:after {
  content: '';
  position: absolute;
  top: 1px; // border
  left: 1px;
  width: calc(100% - 2px); // 100% - border*2
  height: calc(100% - 2px);
  background-color: var(--milk);
  border-radius: 14px;
  clip-path: polygon(100% 0, 100% 90%, 90% 100%, 0 100%, 0 0);
}

.card-content {
  position: relative;
  z-index: 1;
}

.card-header {
  width: 100%;

  display: flex;
  align-items: center;
  align-self: flex-start;

  --icon-width: 9px;
  --icon-height: 18px;

  .icon {
    margin-left: auto;
  }

  .card-title {
    //font-size: 14px;
    line-height: 140%;
    font-weight: 600;
  }

  .title-text {
    display: inline-block;
    margin-right: 8px;
  }

  .card-status {
    display: inline-block;
    white-space: nowrap;
    padding: 4px;

    color: #999999;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;

    background: #eef1e7;
    border-radius: 4px;
    box-sizing: border-box;
  }
}

.card-description {
  margin-top: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: #999999;
}
