.user-agreement {
  padding: 16px 10px;
  background-color: var(--milk);
  border-radius: 8px;

  label {
    max-width: 250px;
  }
}

.ripple-animation {
  animation: ripple 0.6s linear;
  opacity: 1;
  transform: scale(0);
}

@keyframes ripple {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
