.icon {
  display: inline-block;
  flex-shrink: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-loading {
  width: 114px;
  height: 114px;
  background-image: url('../icons/icon-loading.svg');
}

.icon-success {
  width: 114px;
  height: 114px;
  background-image: url('../icons/icon-success.svg');
}
