:root {
  --dark-grayish-blue: #8a8c99;
  --light-grayish-green: #eef1e7;
  --very-dark-blue: #060022;
  --very-dark-grayish-blue: #3e3c49;
  --slightly-desaturated-green: #bbcf92;
  --white: #fff;
  --white-05: rgba(255, 255, 255, 0.5);
  --milk: #fbfef4;
  --red: #dd263c;
  --green: #4caf50;

  --ion-background-color: var(--light-grayish-green, #eef1e7);
  --ion-default-font: 'IBM Plex Mono', monospace !important;
  --ion-toolbar-background: var(--light-grayish-green, #eef1e7);
  --ion-toolbar-border-color: var(--light-grayish-green, #eef1e7);
}
