:root {
  --dark-grayish-blue: #8A8C99;
  --light-grayish-green: #EEF1E7;
  --very-dark-blue: #060022;
  --very-dark-grayish-blue: #3E3C49;
  --slightly-desaturated-green: #BBCF92;
  --white: #FFF;
  --white-05: rgba(255, 255, 255, 0.5);
  --milk: #FBFEF4;
  --red: #DD263C;
}
