<app-header title="Master"></app-header>
<div class="master">
  <div class="header">
    <div class="title">Added</div>
  </div>

  <div *ngFor="let device of ui.devices?.items"
       (click)="edit(device)"
       [appRipple]="true"
       class="device">
    <span class="device__status"></span><span class="device__name">{{ device.name }}</span>
  </div>
  <button class="btn" [routerLink]="'/add-device'">
    Add other device
    <svg-icon [name]="'plus'" class="icon" width="12px" height="12px"></svg-icon>
  </button>
  <button class="btn" [routerLink]="'/zone/add'">
    Add zone
    <svg-icon [name]="'plus'" class="icon" width="12px" height="12px"></svg-icon>
  </button>
</div>
