<div
  *ngIf="ui.gateway"
  [appRipple]="true"
  (click)="edit.emit()"
  class="card big">
  <div class="card-content">
    <div class="card-header">
      <svg-icon
        [name]="ui.gateway.is_online ? 'device-active' : 'device-inactive'"
        class="status-icon" />
      <div class="title-container">
        <div class="title-container__title">
          HUB: {{ ui.gateway.identifier }}
        </div>
        <svg-icon name="arrow" class="icon"></svg-icon>
      </div>
    </div>
    <div class="capabilities">
      <div class="capabilities__capability">
        <div class="capabilities__capability-title">Status</div>
        <div class="capabilities__capability-value">
          {{ ui.gateway.is_online ? 'Online' : 'Offline' }}
        </div>
      </div>
    </div>
  </div>
</div>
