<div class="sign-in-buttons">
  <div *ngIf="signIn" class="button">
    <app-button [title]="'Sign in'" [border]="false" [arrow]="false" height="22px" (onClick)="select('sign-in')"></app-button>
  </div>
  <div *ngIf="signUp" class="button">
    <app-button [title]="'Sign up'" [border]="false" [arrow]="false" height="22px" (onClick)="select('sign-up')"></app-button>
  </div>
  <div *ngIf="demo" class="button">
    <app-button [title]="'Try DEMO'" [border]="false" [arrow]="false" height="22px" (onClick)="select('demo')"></app-button>
  </div>
  <div *ngIf="forgot" class="button">
    <app-button [title]="'Forgot password?'" [border]="false" [arrow]="false" height="22px" (onClick)="select('forgot')"></app-button>
  </div>
</div>