<div *ngIf="form" [formGroup]="form">
  <google-map
    width="100%"
    height="330"
    [center]="(currentLocation$ | async) || defaultCenter"
    [options]="mapOptions"
    (mapClick)="addMarker($event)">
    @for (position of markerPositions$ | async; track trackByFn($index)) {
      <map-marker
        (mapDragend)="onMarkerDragEnd($event)"
        [position]="position"
        [options]="markerOptions" />
    }
  </google-map>
  <input
    [class.has-value]="!!form.get(key)?.value"
    [id]="key"
    [formControlName]="key"
    type="hidden" />
</div>
